/* style.css */

/* 웹 폰트: Crimson, noto sans KR */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Noto+Sans+KR:wght@400;500;700&display=swap");
/* css에서 style 문서 불러오기 */
@import "./reset.css";

/*  
font-family: 'Crimson Text', serif;
font-family: 'Noto Sans KR', sans-serif;
*/

:root {
  --main-color: #0c2d83;
  --bg-color-light: #f5f5f5;
  --text-light: #666;
  --white: #fff;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  background-color: var(--white);
}

h1 {
  font-family: "Crimson Text", serif;
  font-size: 26px;
  margin-bottom: 20px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

a {
  color: #000;
}

p {
  line-height: 26px;
}

.container {
  max-width: 1440px;
  /* outline: 2px solid #333; */
  margin: 0 auto;
  position: relative;
}

#main-header {
  height: 80px;
  /* background: #ccc; */
}

#main-header h1 {
  position: absolute;
  left: 20px;
  top: 15px;
}

#gnb {
  position: absolute;
  right: 97px;
  top: 28px;
  z-index: 999;
}

/* 1단계 메뉴 */
#gnb .depth1 {
  display: flex;
}

#gnb .depth1 > li {
  margin-left: 20px;
  /* outline: 1px solid red; */
  text-align: center;
  width: 7em;
}

#gnb .depth1 > li > a {
  font-weight: 500;
  font-size: 18px;
}

/* 2단계 메뉴 */
#gnb .depth2 {
  background: #ffffff;
  border: 1px solid #cccccc;
  padding: 10px;
  margin-top: 26px;
  /* display: none; */
  /* 이 아래는 메뉴의 드롭다운 애니메이션입니다. */
  max-height: 0;
  overflow: hidden;
  text-align: left;
  opacity: 0;
  transition: 0.4s;
}

#gnb .depth2 > li {
  margin-bottom: 10px;
}

#gnb .depth2 > li:last-child {
  margin-bottom: 0;
}

/* hover 액션 */
/* depth1 li에 마우스가 올라가면 depth2 표시 */
#gnb .depth1 > li:hover .depth2 {
  /* display: block; */
  /* 이 아래는 메뉴의 드롭다운 방식입니다. */
  max-height: 200px;
  opacity: 1;
}

#gnb .depth1 > li > a:hover {
  color: var(--main-color);
}

#gnb .depth2 > li > a:hover {
  text-decoration: underline;
}

#btn-toggle {
  position: absolute;
  right: 20px;
  top: 25px;
}

/* 메인배너 */
#main-banner {
  height: 480px;
  background: #000;
}

#main-banner .container {
  height: 100%;
  background-image: url("../images/main-banner-e1.jpg");
  display: flex;
  align-items: center;
}

#main-banner h1 {
  color: #fff;
  padding-left: 56px;
  font-size: 60px;
  font-weight: 400;
}

/* Introduction */
#intro .container {
  padding: 50px 20px;
  /* outline: 1px solid #000; */
}

#intro .intro-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#intro .intro-list > li {
  /* outline: 2px solid red; */
  /* (너비 - 칼럼여백(칼럼수 - 1)) / 칼럼수 */
  width: calc((100% - 60px) / 4);
}

#intro .intro-list > li img {
  width: 100%;
  margin-bottom: 15px;
}

/* 여백, 정렬  */
#intro .intro-list h2 {
  margin-bottom: 10px;
}

/* Notice */
#notice {
  background-color: var(--bg-color-light);
}

#notice .container {
  padding: 50px 20px;
  /* outline: 1px solid #000; */
}

#notice .icons-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#notice .icons-list > li {
  /* outline: 2px solid red; */
  width: calc((100% - 40px) / 3);
  padding-top: 50px;
  padding-bottom: 50px;
}

.btn-more {
  font-size: 14px;
  color: #666;
}

#notice .icons-list > li .icon-group h3 {
  margin-top: 25px;
  margin-bottom: 10px;
}

/* sns banner */

#sns-banner .container {
  background-image: url(../image/bottom-banner.jpg);
  color: #fff;
  padding-left: 70px;
  padding-right: 70px;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sns-banner h1 {
  margin-bottom: 5px;
  font-weight: 400;
}

#sns-banner .sns-icon-group a {
  margin-left: 28px;
}

/* footer */

#main-footer {
  margin-top: 90px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

#main-footer .container {
  padding: 50px 20px;
}

#main-footer .footer-menu {
  margin-bottom: 15px;
}

#main-footer .footer-menu a {
  font-size: 14px;
  color: #444;
}

#main-footer address,
.copy {
  font-size: 12px;
  font-style: normal;
  color: #666;
  margin-bottom: 5px;
}

/* 사이트맵 팝업 */
#site-map-menu {
  position: fixed;
  width: 80%;
  height: 80vh;
  background: #fff;
  /* 여기서부터 사이트맵 중앙 정렬 소스입니다. */
  left: calc(50%);
  top: calc(50%);
  /* 가변형인 요소이기 때문에 고정 px로 중앙 정렬 맞춰줄 수 없다. 그러므로 translateX 를 대상 요소의 전체 크기의 %만큼 움직이도록 해서 중앙 정렬을 맞추는 것이다. */
  transform: translateX(-50%) translateY(-50%);
  /* 참고로 transform 은 따로 쓰면 나머지 하나가 실행되지 않기 때문에 반드시 위와같이 함께 사용해야 한다.  */
  z-index: 1000;
}

#site-map-menu .container {
  /* outline: 1px solid #333; */
  padding: 20px;
  width: 100%;
  height: 100%;
  position: relative;
  /* box-shadow: 5px 5px 5px #000; */
}

#site-map-menu .site-menu {
  /* outline: 1px solid #333; */
  width: 100%;
  height: 85%;
  display: flex;
}

#site-map-menu .site-menu > ul.depth1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-top: 70px;
}

#site-map-menu .site-menu > ul.depth1 > li {
  /* width: 33.33%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  /* outline: 1px solid blue; */
  text-align: center;
}

#site-map-menu .site-menu > ul.depth1 > li:nth-child(2),
#site-map-menu .site-menu > ul.depth1 > li:nth-child(5) {
  width: 50%;
}

#site-map-menu .site-menu > ul.depth1 > li:nth-child(1),
#site-map-menu .site-menu > ul.depth1 > li:nth-child(3),
#site-map-menu .site-menu > ul.depth1 > li:nth-child(4),
#site-map-menu .site-menu > ul.depth1 > li:nth-child(6) {
  width: 25%;
}

/* depth2 와 depth1 의 부모 박스를 만들면 된다. */

.depth2-box {
  /* outline: 1px solid red; */
  text-align: left;
}

.depth2-box > a {
  font-size: 20px;
  font-weight: bold;
}

.depth2 {
  margin-top: 20px;
}

/* 1단계 메뉴 텍스트(제목) */
#site-map-menu .site-menu > ul.depth1 > li > a {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* 사이트맵 close 버튼 */

#site-menu-close {
  position: absolute;
  right: calc(2%);
  top: calc(2%);
  /* 버튼의 테두리와 배경색을 없애는 속성입니다. */
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* 사이트맵 메뉴 비표시 상태 */
#site-map-menu {
  display: none;
}

/* 사이트맵 표시 상태 */
#site-map-menu.show {
  display: block;
}

/* 1단계 메뉴 버튼(pc 화살표 안보임) */
#site-map-menu .depth1 > li > div > a > span {
  display: none;
}
